#map {
  position: relative;
  text-align: center;
  height: 410px;
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  border:2px solid #ccc;
  -ms-user-select: none;
  user-select: none;
}
svg:hover{
  cursor: pointer;
}
rect{
  fill: white;
  fill-opacity: 0.1;
}

.openList{
  fill:#bdb;
  fill-opacity: 1;
}
.closedList{
  fill:white;
  fill-opacity: 0.1;
}

.path{
  fill:#99c;
  fill-opacity: 1;
}
.current{
  fill:#fff;
}
.wall{
  // fill:#777;
  // stroke:#666;
  // stroke-width:2;
  // fill: black;
  // fill-opacity: 1;
  fill-opacity: 0.1;
}
.startPosition{
  fill:#d00;
  stroke:#a11;
  stroke-width:2;
  cursor:grab;
  fill-opacity: 1;
}
.startPosition.active{
  fill:#a11;
  fill-opacity: 1;
}
.goalPosition{
  fill:#0c0;
  stroke:#191;
  stroke-width:2;
  cursor:grab;
  fill-opacity: 1;
}
.goalPosition.active{
  fill:#191;
  fill-opacity: 1;
}

#floor {
  position: absolute;
  top: 0;
  left: 0;
  width: 375px;
  height: 375px;
  z-index: -1000;
}

#runBtn {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

.header__rightNav {
  margin-right: 10px;
}