.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  
  &__auth {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
  }
  
  &__auth--login {
    background-color: white;
    border: none;
    font-family: 'Lato';
    font-size: 14px;
    
    &:hover {
      color: rgb(222, 155, 7);
    }
  }
  
  &__auth--signup {
    font-family: 'Lato';
    font-size: 14px;
    width: 111px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    &:hover {
      background-color: rgb(222, 155, 7);
    }
  }
  
  &__about {
    display: flex;
    justify-content: flex-end;
    width: 469px;
    
    button {
      background-color: white;
      border: none;
      font-size: 18px;
      font-family: 'Lato';
      font-weight: 300;
      border-radius: 0;
      
      &:hover {
        border-bottom: 3px solid red;
      }
    }
  }
    
  &__about--who {
    color: #27AE60;
  }
  
  &__about--what {
    color: #F2994A;
  }
  
  &__about--why {
    color: #2F80ED;
  }
  
  &__title {
    font-family: 'Abril Fatface';
    font-size: 36px;
    color: $blue;
    width: 190px;
    height: 47px;
    margin-left: 44px;
  }
}