@import 'reset.scss';
@import 'base.scss';

.app {
  width: 379px;
  margin: 0 auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 50px;
  font-family: 'Fredoka One';
  color: $blue;
  width: 100%;
  text-align: center;
  border-radius: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    border: none;
    font-size: 18px;
    font-weight: 300;
    border-radius: 0;
    margin: 0;
    height: 22px;
    padding: 0;
    background: white;

    &:hover {
      border-bottom: 3px solid red;
    }
  }

  &__btn--cafe {
    color: #27ae60;
  }

  &__btn--floor {
    color: #f2994a;
  }

  &__btn--aud {
    color: #2f80ed;
  }
}

.grid {
  width: 100%;
  text-align: center;

  &__map {
    position: relative;
    text-align: center;
    height: 379px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
  }

  button {
    width: 200px;
    margin: 10px 0 0 0;
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #ccc;
    -ms-user-select: none;
    user-select: none;

    &:hover {
      cursor: pointer;
    }
  }

  rect {
    fill: white;
    fill-opacity: 0.1;
  }

  .path {
    fill: #99c;
    fill-opacity: 1;
  }

  .current {
    fill: #fff;
  }

  .wall {
    // fill: black;
    // fill-opacity: 1;
    fill-opacity: 0.1;
  }

  .startPosition {
    fill: #d00;
    stroke: #a11;
    stroke-width: 2;
    cursor: grab;
    fill-opacity: 1;
  }

  .goalPosition {
    fill: #0c0;
    stroke: #191;
    stroke-width: 2;
    cursor: grab;
    fill-opacity: 1;
  }
}
